@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');



/* Dark mode colors */
$background-dark: #0D0D0C;
$font-large-dark: #F2BE5C;
$font-small-dark:#BFA575;

/* Light mode colors */
$background-light: #E4EAF2;
$font-large-light: #171921;
$font-small-light: #4F6C73;

$red: #D92938;





  .light-mode {
    background-color: $background-light;
    color: $font-large-light;
    transition: background-color 0.25s ease-out;

    p{
      color: $font-small-light;
    }

    .toolbar_navigation-items{
      ul{
        a{

          color: $font-large-light;
        }
      }
    }

    header{
        .toolbar__logo {
              margin-left: 1rem;
              a{
              color: $font-large-light;
              font-size: 2rem;
              text-decoration: none;
          
              }
              
          }
          
        }
        
       nav{

         .toolbar__toggle-button{
           color: $font-large-light;
         }
       }

        
        

  }
  



  
  .dark-mode {
    background-color: $background-dark;
    color: $font-large-dark;
    transition: background-color 0.25s ease-out;

    p{
      color: $font-small-dark;
    }

    .toolbar_navigation-items{
      ul{
        a{

          color: $font-large-dark;
        }

        }
      }

      header{
        .toolbar__logo {
              margin-left: 1rem;
              a{
              color: $font-large-dark;
              font-size: 2rem;
              text-decoration: none;
          
              }
              
          }
      

    }
    }
  
  // .light-mode nav {
  //   transition: background-color 0.25s ease-out;
  // }
  
  
  
  .toggle {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"].checkbox {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: $red;
  }
  
  .toggle-container {
    display: flex;
    margin: 0 auto;
  }
  
  .toggle-container > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right: 2px;
  }
  
  .toggle-container > span:last-child {
    margin-top: 5px;
  }
  
  p{
    color: black;
  }

  main {
    padding: 0.5em;
    margin: 0 auto;
    // max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.1;
    height: 100vh;
  }
  
  h1 {
    margin: 0;
  }




  