@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$red : #DB4549;
$background: #DBDCD6;
$primary:#2E3853;
$secondary:#3E6A91;
$light:#A3C9D3;



*{
    
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
 
}


