@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');



/* Dark mode colors */
$background-dark: #0D0D0C;
$font-large-dark: #E4EAF2;
$font-small-dark:#4F6C73;

/* Light mode colors */
$background-light: #E4EAF2;
$font-large-light: #0D0D0C;
$font-small-light: #4F6C73;

$red: #D92938;



*{
    
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  height: 100%;
  font-family: 'Orbitron', sans-serif;
 
}















