$red : #DB4549;
$background: #DBDCD6;
$primary:#2E3853;
$secondary:#3E6A91;
$light:#A3C9D3;

.header{
   padding: 1rem 0 3rem;
}

.title{
   color: $primary;
   font-size: 3rem;
   text-decoration: none;
}

.nav-list{
   display: flex;
   list-style-type: none;
   margin: 0;
}

.nav-items{
   color: $secondary; 
   font-size: 0.9rem;
   margin-right: 1.3rem;
   text-decoration: none;
}

.nav-items:hover{
   color: $red;
}

.active-nav-item{
   color: black;
}