$green: #BFF205;
$light-green: #BFF205;
$background-light: #F2F2F2;
$background-dark: #333140;
$primary-light: #333140;
$primary-dark: #F2F2F2;
$secondary: #B4B7BF;




.navLinks {
  display: flex;
  justify-content: center;
  height: 40%;
  
  a {
    color: $primary-light;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 18px;
    
  }

  li {
    list-style: none;
    
  }
}

// .burger {
//   display: none;
//   cursor: pointer;
//   div {
//     width: 25px;
//     height: 3px;
//     background-color: $background-light;
//     margin: 5px;
//   }
// }



/* @media screen and (max-width: 375px) {
  


  .navLinks {
    position: absolute;
    right: 0px;
    height: 91.5vh;
    top: 8.2vh;
    // background-color: $cardColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // transform: translateX(100%);
    transition: transform 0.5s ease-in;

    a {
      color: $light-green;
      text-decoration: none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 20px;
    }
   
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    z-index: 999;
  }

  .nav-active {
    transform: translateX(0%);
   
  }


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .x .line1{
    transform: rotate(-45deg) translate(-5px,6px)
  }
  .x .line2{
    opacity: 0;
  }
  .x .line3{
    transform: rotate(45deg) translate(-5px,-6px)
  }
}



 */



// old styles





// .header {
//   padding: 1em 0 1rem;
// }

// .name {
//   color: $primary-light;
//   font-size: 1.3rem;
//   text-decoration: none;
//   position: absolute;
//   top: 1.5rem;
//   left: 52rem;
// }

// .title {
//   color: $primary-light;
//   font-size: 1.1rem;
//   text-decoration: none;
//   position: absolute;
//   top: 3rem;
//   left: 52rem;
// }

// .nav-list {
//   display: flex;
//   list-style-type: none;
//   margin: 0;
// }

// .nav-items {
//   color: $primary-light;
//   font-size: 1.5rem;
//   margin-right: 1.5rem;
//   text-decoration: none;
// }

// .nav-items:hover {
//   color: $green;
// }

// .active-nav-item {
//   color: $primary-light;
//   font-size: 1.6rem;
// }

// .nav-div {
//   background-color: $primary-light;
//   height: 1px;
//   margin-top: 20px;
//   width: 100%;
// }